<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dofbot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import dofbot urdf file -->
    <xacro:include filename="$(find dofbot_moveit)/urdf/dofbot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="dofbot.ros2_control.xacro" />


    <xacro:dofbot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
